{% extends 'layout.html' %}
{% block title %} Home {% endblock %}

{% block content %}

<body>
<div class="encabezado">
    <br>
    <h1 class="title">Bienvdenido a tu espacio personal!</h1>

    <div class="entrada" >
        <p>Hecho por</p><br>
            <ol class="tema-numerales">
                <li value="1">1.- Chicaiza Andrian.</li>
                <li value="2">2.- Fuentes Jean.</li>
                <li value="3">3.- Tupiza Alexander.</li>
                <li value="4">4.- Villegas Antonio.</li>
            </ol>
            <br>
        <p>Material usados de guia en el proyecto</p>
        <br>
        <ol class="tema-numerales">
            <li value="1">1.- Login con reconocimiento facial: https://www.youtube.com/watch?v=Hy3DAxgTSu0&t=9s</li>
            <li value="2">2.- Como hacer una pagina web en flask: https://www.youtube.com/watch?v=2_6Pp9vy864&t=736s</li>
        </ol>
        <br>
    </div>
    <br>
    <div class="img-container">
        <img width="800px" height="500px" src="https://esfot.epn.edu.ec/images/headers/logo_esfot_buho.png"/>
      </div>
   </div>
</body>
    
{% endblock %}